<!--Se mandan a llamar los estilos por parte del clientlib-->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.css @ categories='holafuturo.header'}"></sly>
<sly data-sly-call="${clientlib.js @ categories='holafuturo.header'}"></sly>

<link rel="icon" href="${properties.imagen_ico_portal @ context='uri'}" type="image/ico">

<div class="cmp_header">
	<!-- Logo Header -->
    <div class="cmp_header_contenedor_imagen">
		<a href="${properties.ruta_seleccion_home @ context='uri'}">
   			<img src="${properties.imagen_logo_header @ context='uri'}" loading="lazy" alt="logo_hola_futuro" class="cmp_header_hola_futuro_imagen"/>
    	</a>   
    </div>
    
    <!-- Menu Navegación -->
    <div class="cmp_header_navegacion">
    	<a href="${properties.ruta_seleccion_boton1 @ context='uri'}" class="cmp_header_enlace_1" >${properties.texto_boton_1 @ context='text'}</a>
        <a href="${properties.ruta_seleccion_boton2 @ context='uri'}" id="enlace2" class="cmp_header_enlace_2">
        	${properties.texto_boton_2 @ context='text'}
            <img src="${properties.imagen_flecha_header @ context='uri'}" loading="lazy" alt="imagen_boton" class="cmp_header_navegacion_flecha_boton" id="flechaBoton"/>
        </a>
        <a href="${properties.ruta_seleccion_boton3 @ context='uri'}" class="cmp_header_enlace_3" >${properties.texto_boton_3 @ context='text'}</a>
        <a href="${properties.ruta_seleccion_boton4 @ context='uri'}" class="cmp_header_enlace_4" >${properties.texto_boton_4 @ context='text'}</a>
        <div class="cmp_header_boton_informacion">
        	<a href="${properties.ruta_dropmenu_1 @ context='uri'}">
            	<button class="cmp_header_boton_bloque">
                	${properties.texto_dropmenu_1 @ context='text'}
                </button>
            </a>
        </div>
    </div>
    
    <div class="cmp_header_contendor_boton_hamburguesa_responsive">
    	<button class="cmp_header_boton_hamburguesa_responsive" id="desplegar_menu_hamburguesa">
        	<img src="${properties.imagen_hamburguesa_header @ context='uri'}" loading="lazy" alt="logo_hamburguesa" class="cmp_header_imagen_hamburguesa"/>
        </button>
    </div>
</div>

<div class="header-placeholder"></div>

<div id="dropdownOpciones" class="header_dropdown_opciones">
	<sly data-sly-resource="${'bloque_nivelproteccion' @ resourceType='holafuturo/components/header_dropdown_component'}"></sly>
</div>

<div id="desplegar_opciones_responsive" class="header_dropdown_opciones_responsive">
	<sly data-sly-resource="${'bloque_nivelproteccion_responsive' @ resourceType='holafuturo/components/header_dropdown_responsive_component'}"></sly>
</div>



