/* Ocultar el contenedor principal en pantallas pequeñas */
@media (max-width: 768px) {
   div.cmp_header{
        height: 58px;
        padding: 15px 35px 15px 35px;
        /*gap: 260px;*/
       position: fixed;
       z-index: 1000;
       transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    div.cmp_header.oculto {
    transform: translateY(-100%);
    opacity: 0;
}
    
    div.cmp_header img.cmp_header_hola_futuro_imagen,
    div.cmp_header div.cmp_header_contenedor_imagen{
        width: 49px;
        height: 41px;
        gap: 10px;
    }
    
    div.cmp_header div.cmp_header_navegacion{
        display: none;
    }
    
    div.cmp_header div.cmp_header_contendor_boton_hamburguesa_responsive{
        width: 45px;
        height: 45px;
        gap: 25px;
		display: flex;
        justify-content: center; 
        align-items: center; 
    }
    
    div.cmp_header button.cmp_header_boton_hamburguesa_responsive{
        width: 45px;
		height: 45px;
		background: none;
		cursor: pointer;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
    }
    
    div.header-placeholder{
        height: 86px;
    }
}

.cmp_header{
	padding: 20px 40px 20px 40px;
	/*gap: 650px;*/
	display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: #073074;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.cmp_header_contenedor_imagen{
    width: 72px;
	height: 57px;
    display: flex;
    gap: 20px;
}

.cmp_header .cmp_header_hola_futuro_imagen{
    width: 72px;
	height: 57px;
}

.cmp_header .cmp_header_navegacion{
    width: auto;
	height: 42px;
	gap: 50px;
	display: flex;
    justify-content: end; 
    align-items: center; 
}

.cmp_header .cmp_header_enlace_1,
.cmp_header .cmp_header_enlace_2,
.cmp_header .cmp_header_enlace_3,
.cmp_header .cmp_header_enlace_4{
	font-family: 'Avenir', sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 25.3px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration: none;
	color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
     width: auto;
	height: 25px;
}

.cmp_header .cmp_header_enlace_2{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.cmp_header .cmp_header_navegacion_flecha_boton{
    height: auto;
    width: auto;
    transform: rotate(180deg);
}

.cmp_header .cmp_header_boton_informacion{
    width: 241px;
	height: 42px;
	/*padding: 15px 16px 15px 16px;*/
	gap: 15px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.cmp_header .cmp_header_boton_bloque{
 	background: #F7A800;
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
	color: #073074;
    width: 241px;
	height: 42px;
	border-radius: 15px;
    border-style: none;
    cursor: pointer;
}

.cmp_header .cmp_header_boton_bloque:hover{
    background: #FFCE1F;
}


/*Efecto Hover de los links*/
.cmp_header .cmp_header_enlace_1:hover,
.cmp_header .cmp_header_enlace_3:hover,
.cmp_header .cmp_header_enlace_4:hover{
    color: #F7A800;
    text-decoration: underline;
    margin-top: -5px;
}

.cmp_header .cmp_header_enlace_2:hover{
    filter: brightness(0) saturate(100%) invert(66%) sepia(91%) saturate(1910%) hue-rotate(4deg) brightness(103%) contrast(101%);
    box-shadow: inset 0 -2px 0 0 #F7A800;
    margin-top: -5px;
}

.cmp_header .cmp_header_navegacion_flecha_boton:hover{
    filter: brightness(0) saturate(100%) invert(66%) sepia(91%) saturate(1910%) hue-rotate(4deg) brightness(103%) contrast(101%);
}


/*Header dropdown*/
.header_dropdown_opciones{
    display: none;
}

.header_dropdown_opciones_responsive{
    display: none;
}

/*boton responsive*/
.cmp_header .cmp_header_contendor_boton_hamburguesa_responsive{
    display: none;
}

.header-placeholder {
  height: 95px; /* inicialmente sin altura, la pondremos con JS */

}