.cmp_footer{
	/*height: 316px;*/
    padding: 80px 144px 80px 144px;
    gap: 60px;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
	background: #073074;
}

.cmp_footer .cmp_footer_bloque_1{
    width: 112.65px;
    height: 129.43px;
	 display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    gap: 5px;
}

.cmp_footer .cmp_footer_hola_futuro_desktop{
    width: 112.65px;
	height: 89.18px;
}

.cmp_footer .cmp_footer_hola_futuro_responsive{
    display: none;
}

.cmp_footer .cmp_footer_parrafo{
    width: 75px;
    height: 8px;
	font-family: Avenir;
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
	color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 45px;
}

.cmp_footer .cmp_footer_profuturo_desktop{
    width: 95.44px;
	height: 16.43px;
    margin-top: 10px;
}

.cmp_footer .cmp_footer_profuturo_responsive{
    display: none;
}

.cmp_footer .cmp_footer_bloque_links{
    width: 175px;
    height: auto;
    gap: 12px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.cmp_footer .cmp_footer_titulo_bloque{
    width: 175px;
	height: auto;
    font-family: Avenir;
    font-size: 25px;
    font-weight: 900;
    line-height: 28.75px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
	color: #F7A800;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cmp_footer .cmp_footer_opciones_multifield{
  	width: 175px;
    height: auto;
    gap: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.cmp_footer .cmp_footer_enlace{
    width: 175px;
	height: auto;
	font-family: Avenir;
    font-size: 18px;
    font-weight: 350;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration: none;
	color: #FFFFFF;
	margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.cmp_footer .cmp_footer_bloque_redes_sociales{
    width: 125.34px;
	height: 50px;
	display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 30px;
}

.cmp_footer .cmp_footer_hola_futuro_face_desktop{
    width: 42px;
	height: 42px;
}

.cmp_footer .cmp_footer_hola_futuro_instagram_desktop{
    width: 50px;
	height: 50px;
}

.cmp_footer .cmp_footer_hola_futuro_face_responsive,
.cmp_footer .cmp_footer_hola_futuro_instagram_responsive{
    display: none;
}

.cmp_footer .cmp_footer_enlace:hover{
    color: #F7A800;
    text-decoration: underline;
}

.cmp-link__screen-reader-only{
    display: none;
}